.profile-outer-div {
    background-color: var(--primary)

}
.outershell {
    position: absolute;
    top: 43vh;
}
.profile-heading {
    display: flex;

}
.profile-name {
    display: flex;
    color: white;
   width: 
}
.pp-icon {
    display: inline-block;
    height: 22vh;
    padding: 5px;
    border-radius: 100px;
    background-color: var(--highlight);
    border: solid 4px var(--primary);
    animation: bounce 3s;
    margin: 3vw;
   
}
.pp-icon:hover {
    filter: brightness(110%);
    cursor: pointer;
}
.img-cover-container {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(var(--highlight), var(--highlight), rgba(91, 154, 152, 0), rgba(106, 108, 108, 0))
}
.cover-img {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 45vh; 
    width: 100%;
    object-fit: cover;
    max-width: 1150px;
    max-height: 110%;
    object-position: 100% 5;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    
}
.pp-icon:active {
    transform: scale(0.98)
}
.cover-img:active {
    transform: scale(0.99)
}
.cover-img:hover {
    cursor: pointer;
}
.info-section {
    background-color: var(--primary);
    height: 40vh
}
.space-two {
    display: flex; 
    height: 19vh;
}
.info-section {
    display: flex; 
    flex-direction: column;
    z-index: 2;
    position: relative;
    width: 100%;
}
.info-container {
display: flex;
flex-direction: column;
width: 100%;
   
}
.line {
    display: block;
    background-color: var(--dark);
    border: var(--dark) solid;
    width: 90%;
}
.edit-con {
    position: absolute;
    top: 20vh;
    left: 58vw;
    justify-content: center;
    align-items: center;
    padding-left: 15vw;
}
.edit-profile {
    border-radius: 16px;
    font-size: 16px;
    background-color: var(--dark); 
    padding: 0;
    width: 20vw;
}
.edit-profile:hover {
    background-color: var(--dark); 
    filter: brightness(1.2)
}
.mini-nav {
    justify-content: center;
    align-items: center;
    width: 100%

}
.mini-list {
    display: flex; 
    justify-content: center;
    align-items: center; 
    list-style-type: none;
    height: 3vh;
}
.mini-li {
    display: flex;  
    
     
}
.mini-links {
    text-decoration: none;
    padding: 15px;
    border-radius: 16px;
    color: white;
    cursor: pointer;

}
.mini-links:hover {
    background-color: var(--nav)
}
.mini-links:active {
    transform: scale(.90)
}
.mini-links:after {
    background-color: var(--highlight);
    font-weight: bold;
}
.links-body {
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.links-inner-body {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;

    
}
.post-outer {
    background-color: var(--primary); 
    display: flex;
    border-radius: 16px;
    width: fit-content;

}
.post-inner:hover {
    border-radius: 16px;
}
.post-card-inner {
    display: flex;
    align-items: center; 
    background-color: var(--primary); 
    border-radius: 16px;
    height: 12vh; 
    width: 65vw;
}
.post-card-inner:hover {
    filter: brightness(1.2);
    cursor: pointer;
}
.name-heading {
    height: 3vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.post-content {
    border-radius: 24px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 10px;
    background-color: var(--dark);
    border-radius: 16px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    align-items: center;
    width: 45vw;
    justify-content: center;
    resize: none;
    color: white;

}
.post-profile-wrap {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding-right: 3vw
    
}
.post-content:hover {
    background-color: var(--nav); 
    color: var(--dark);
    cursor: pointer;
}
.post-content:active {
    color: white; 
}
.post-content::placeholder {
    color: rgb(202, 201, 201);
}
.CreateCardTwo {
    position: absolute;
    z-index: 3;
    top: -15vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .8);
    border-radius: 14px;

}

.CardContainerTwo {
    padding: 8px;
    width: 60vw;
    max-width: 640px;
    border-radius: 14px;
    background-color: rgb(29, 29, 29);
    text-align: center;
}
.posts-two-master {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
}
.posts-two-block-1 {
    display: flex; 
    background-color: var(--primary); 
    margin-top: 30px;
    height: 10vh; 
    width: 65vw; 
    border-radius: 16px;
    cursor:pointer; 
}
.posts-two-block-1:hover {
    filter: brightness(1.2)
}
.posts-two-heading {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: white;
    padding-left: 3vw; 

}
.posts-outer-two {
    display: flex; 
}
.posts-inner-two {
    display: flex;

}
