.bullet-master {
    background-color: rgb(29, 29, 29);
    position: absolute; 
    margin-left: 50vw; 
    margin-top: 5vh;
    animation: fadeIn 1s;
    padding: 2vh 5vw;
    border-radius: 16px;
    width: 25vw;
    z-index: 4;
}
.bullet-master:hover {
    background-color:rgb(32, 32, 32)
}
.bullet-child-global {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.bullet-child-1 {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 30vw;
    background-color: var(--dark);
    border-radius: 16px;
    margin-top: 1vh;
    height: 7vh;
    
}
.bullet-child-1:hover {
    filter: brightness(1.5)
}
.edit-post {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 50%;
    font-size: 14px;
}
.edit-post:hover {
    background-color: transparent;
}
.pencil-icon {
    height: 2vh;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.bullet-child-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    background-color: var(--dark);
    border-radius: 16px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 7vh;
}
.bullet-child-2:hover {
    filter: brightness(1.5)
}
.delete-post {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: transparent;
    height: 50%;
    font-size: 14px;
}
.delete-post:hover {
    background-color: transparent;
}
.trash-icon {
    height: 3vh;
    justify-content: center;
    align-items: center; 
    padding: 2px;
}