.logout-container {
    position: absolute;
    top: 27vh;
    left: 80vw;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s;
}
.logout-inner {
    display: flex;
    justify-content: center;
    padding: 32px;
    width: 32vw;
    max-width: 640px;
    border-radius: 14px;
    background-color: rgb(29, 29, 29);
    text-align: center;
    box-shadow: 11px 12px 13px 12px rgb(255, 255, 255);
}
.close-btn-logout {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12%;
    height: 12%;
    font-size: 12px;
    background-color: transparent;
    
}
.close-btn-logout:hover {
    background-color: var(--nav);
}
.logout-btn {
    display: flex;
    align-items: center; 
    text-align: center; 
    justify-content: center;
    background-color: transparent; 
    border: none;
    width: 33vw;
    border-radius: none;
    
}
.logout-btn:hover {
    background-color: var(--nav);
}
.logout-btn:active {
    background-color: var(--highlight);
}
.btn-container {
    display: flex;
    align-items: center;
    width: 34vw;
    justify-content: center;
    border-radius: 16px;
    background-color: var(--primary);
    padding: 10px 0px

}
.btn-container:hover {
    background-color: var(--nav)
}
.btn-container:active {
    background-color: var(--highlight)
}
.space {
    padding: 15px;
}
